Proposal/main.aux
Proposal/main.bbl
Proposal/main.blg
Proposal/main.log
Proposal/main.out
Proposal/main.bcf
Proposal/main.run.xml
Proposal/main.toc
Proposal/main.synctex.gz
Proposal/main.fls
Proposal/main.fdb_latexmk